<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BIOSQuery Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.0/dist/jquery.min.js"></script>
    <link rel="icon" type="image/x-icon" href="img/osquery-logo.png">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/css/layout.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a href="/" class="navbar-brand">
                <img src="../../img/osquery-logo.png" alt="Shop Icon">
            </a>
            <a href="/endpoints" class="nav-item nav-link">Endpoints</a>
            </a>
            <a href="/controlPanel" class="nav-item nav-link">Control</a>
            </a>
            <a href="/dashboard" class="nav-item nav-link">Dashboard</a>
            </a>
            <a href="/risks" class="nav-item nav-link">Risks</a> 
            <a href="/information-center" class="nav-item nav-link">Information Center</a> 
            <form id="searchForm" class="search" role="search">
                <input type="search" name="search" placeholder="Search" />
                <i class="bx bx-search" aria-hidden="true"></i>
            </form>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="/#">Statistics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="/api-docs">API Docs</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <script src="/js/search.js"></script>
    <script src="/js/cart.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</body>
</html>