<%- include('partials/header') %>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/css/endpoints.css">

<div class="container">
    <div>
        <button id="addNode" class="btn btn-primary" data-toggle="modal" data-target="#addNodeModal">Add Host</button>
    </div>
    <!-- Endpoint cards -->
    <div id="endpointsDivRow" class="row">
        <div style="width: 1000px; height: 300px;">
            <img src="/img/loading.gif" class="center" style="width: 10%; display: block; margin: auto; margin-top:10%">
        </div>
    </div>
<div class="container py-5">
    <!-- Actions for selected endpoints -->
    <div id="div-action-buttons" class="fixed-bottom-left" style="display: none;">
        <button id="deleteSelected" class="btn btn-secondary">Delete Selected</button>
        <button id="installChipsecSelected" class="btn btn-secondary">Install CHIPSEC on Selected</button>
    </div>
</div>

<!-- Modal for Add Node -->
<div class="modal fade" id="addNodeModal" tabindex="-1" role="dialog" aria-labelledby="addNodeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addNodeModalLabel">Add New Host</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs">
                    <li class="nav-item" >
                      <button class="nav-link active" id="ssh-tab" data-bs-toggle="tab" role="tab" aria-controls="addSsh" data-bs-target="#addSsh" aria-selected="true">SSH</button>
                    </li>
                    <li class="nav-item">
                      <button class="nav-link" id="oneliner-tab" data-bs-toggle="tab" role="tab" aria-controls="oneliner" data-bs-target="#oneliner" aria-selected="false">Oneliner</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" id="scale-tab" data-bs-toggle="tab" role="tab" aria-controls="scale" data-bs-target="#scale" aria-selected="false">At Scale</button>
                      </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane show active" id="addSsh" role="tabpanel" aria-labelledby="addSsh-tab">
                        <form id="addNodeForm">
                            <div class="form-group">
                                <label for="osType">OS Type</label>
                                <select class="form-control" id="osType">
                                    <option value="deb">Debian</option>
                                    <option value="deb">Ubuntu</option>
                                    <option value="rpm">Centos</option>
                                    <option value="rpm">REHL</option>
                                    <option value="deb">Kali Linux</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="hostId">Host ID (IP/Hostname)</label>
                                <input type="text" class="form-control" id="hostId" placeholder="Enter Host ID">
                            </div>
                            <div class="form-group">
                                <label for="hostId">Authentication Method</label>
                                <select class="form-control" id="authMeth" selected="pass">
                                    <option value="pass">Credentials</option>
                                    <option value="key">PrivateKey</option>
                                </select>
                            </div>
                            <label for="username">Username</label>
                                <input type="text" class="form-control" id="username" placeholder="Enter Username">
                            <div class="form-group" id="credentials">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" placeholder="Enter Password">
                            </div>
                            <div class="form-group" id="privateKeySection" style="display:none;">
                                <label for="privateKey">Private Key</label>
                                <textarea class="form-control" id="privateKey" placeholder="Paste Private Key"></textarea>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="defaultKeyCheckbox">
                                    <label class="form-check-label" for="defaultKeyCheckbox">
                                        Use Default Key
                                    </label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#addNodeModal">Add Host</button>
                        </form>
                    </div>
                    <div class="tab-pane" id="oneliner" role="tabpanel" aria-labelledby="onliner-tab">
                        <style>
                            /* Custom dark mode styles */
                            .code-container {
                                background-color: #1e1e1e; /* Dark background */
                                color: #c5c5c5; /* Light text color */
                                padding: 1rem;
                                border-radius: 0.5rem;
                                font-family: Consolas, "Courier New", monospace;
                                overflow-x: auto;
                            }
                            .code-container code {
                                color: #dcdcdc; /* Slightly lighter color for code */
                            }
                            code {
                                display: block;
                                white-space: pre-wrap   
                              }
                        </style>
                        <form id="onelinerForm">
                            <div class="form-group">
                                <label for="osType">OS Type</label>
                                <select class="form-control" id="osType-oneliner">
                                    <option value="deb">Debian</option>
                                    <option value="deb">Ubuntu</option>
                                    <option value="rpm">Centos</option>
                                    <option value="rpm">REHL</option>
                                    <option value="deb">Kali Linux</option>
                                </select>
                            </div>
                        </form>
                        <div class="code-container">
                            <pre><code id="oneliner-code">Loading your oneliner...</code></pre>
                        </div>
                    </div>
                    <div class="tab-pane" id="scale" role="tabpanel" aria-labelledby="scale-tab">Check out the ansible tutorial on our <a href="/information-center">information center</a>.</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/endpoints.js"></script>
<script src="/js/single_endpoint.js"></script>
<%- include('partials/footer') %>
</div>