.card-img-top {
    width: 100%;
    height: 5vw;
    object-fit: contain;
}
.fixed-size-card {
    height: 420px; /* Set a fixed height for each card */
    width: 100%; /* Card width is responsive to the column width */
    overflow: hidden; /* Hides any content that goes beyond the card's dimensions */
}
.card-body {
    padding: 10px;
}
.card-title, .card-text {
    overflow: hidden;
    text-overflow: ellipsis; /* Add an ellipsis to text that overflows */
    white-space: nowrap; /* Prevent text from wrapping to the next line */
}
.card-text {
    display: block;
    max-height: 40px; /* Limit text block height */
}
custom-dropdown {
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
}

.custom-dropdown::after {
    display: none;
}

.custom-dropdown:focus {
    outline: none;
}

.custom-dropdown-icon {
    font-size: 30px;
}