.card-img-top {
    width: 10%;
    height: 2vw;
    margin-left: 10%;
    justify-content: space-between;
}
.fixed-size-card {
    height: 420px; 
    width: 100%; 
    overflow: hidden; 
    border-radius: 40px;
}
.card-footer {
    display: flex;
    justify-content: space-between; 
    align-items: center;           
    padding: 10px;
}
.container {
    width: calc(100% - 20px); 
    max-width: 95%; 
    padding: 20px;
    margin: auto;
    border-radius: 10px; 
}
.row {
    border-radius: 4px; 
    display: flex;                
    justify-content: center; 
    padding: 20px;
    margin-top: 20px;
    background-color: #f7f9fcf6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.select-endpoints{
    display: flex;
    width: fit-content;
    padding: left;
    margin: 2%;
    background-color: #f7f9fcf6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.card-body {
    display: block;
    padding: 20px;
    border-radius: 10px;
}
.card-title{
    font-size: 1.8rem; 
    display: center;
    align-items: center;       
    padding: 10px;
    background-color: hsl(214, 94%, 94%);
    border-radius: 10px;
}
.card-text {
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap; 
    color: inherit;
}
.card-text {
    display: block;
    max-height: 40px; 
}
custom-dropdown {
    position: relative;
    display: inline-block;
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
}
.dropdown-menu {
    z-index: 1050; 
}
.green-hover:hover {
    background-color: green;
    color: white;
}

.red-hover:hover {
    background-color: red;
    color: white;
}
.custom-dropdown::after {
    display: none;
}

.custom-dropdown:focus {
    outline: none;
}

.custom-dropdown-icon {
    font-size: 30px;
}