.image-background {
    height: 700px; 
    background-image: url('/img/desktop.jpg'); 
    background-size: cover; 
    background-position: center; 
    transition: background-image 0.5s ease-in-out; 
}
.image-background:hover {
    background-image: url('/img/desktop.jpg'); 
}

.responsive-h1 {
    font-size: 3.2vw;
}

.link {
    color: white;
    text-decoration: underline;
}
  
  .hero-section {
    padding: 80px 0; 
  }
  
  .hero-section .btn {
    margin-top: 20px; 
  }

  .feature-box {
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }
  
  .feature-box .fas {
    font-size: 3rem; 
    margin-bottom: 20px; 
  }
  
  .feature-box h4 {
    font-size: 1.4rem; 
    font-weight: 600; 
    color: black; 
  }
  
  .feature-box p {
    font-size: 1rem; 
    color: black; 
  }

  .testimonial {
    padding: 40px;
    background-color: var(--light-grey);
    border-radius: 10px;
    box-shadow: var(--shadow);
  }
  
  .testimonial .quote {
    font-size: 1.2rem; 
    line-height: 1.6; 
    margin-bottom: 20px;
  }
  
  .testimonial .author {
    font-weight: 600;
    color: rgb(14, 13, 13);
  }

  .news-item {
    background-color: black;
    border-radius: 10px;
    box-shadow: var(--shadow);
    padding: 30px;
    height: 100%; 
    color: black;
  }
  
  .news-item h5 {
    font-size: 1.2rem; 
    font-weight: 600; 
    margin-bottom: 15px; 
    color: black;
  }
  
  .news-item p {
    color: black;
  }

h1.responsive-h1, p.lead, .card-text, .card-title, .card-header {
    color: black(248, 246, 246);
}

.card .btn {
    color: black;
}

.card a {
    color: white;
    text-decoration: underline; 
}

.card a:hover {
    color: black; 
}
.lead {
    font-size: 1.5rem; 
    color: black;
}


