body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
}

h1 {
    color: #343a40;
}

.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card-header {
    background-color: #007bff;
    color: white;
    text-align: center;
}

.card-title {
    margin-bottom: 0;
    font-size: 1.5rem;
    display: inline-block;
}

.chart-container {
    position: relative;
    margin: 0 auto;
    height: 300px;
    width: 300px;
}

.table-responsive {
    max-height: 500px;
    overflow-y: auto;
}

.badge {
    font-size: 0.85em;
    padding: 0.35em 0.65em;
    font-weight: 600;
}

.badge-danger {
    background-color: #FF6384;
    color: white;
}

.badge-success {
    background-color: #36A2EB;
    color: white;
}

.badge-warning {
    background-color: #FFCE56;
    color: white;
}

.badge-n\/a {
    background-color: #6c757d;
    color: white;
}

@media (max-width: 768px) {
    .chart-container {
        height: 200px;
        width: 200px;
    }
}

.table thead th {
        position: sticky;
        top: 0;
        background-color: #474748; 
        color: white; /* White color for the text to ensure readability */
        z-index: 2;
        padding: 10px; /* Adding some padding for better spacing */
        text-align: left; /* Align text to the left for better readability */
        border-bottom: 2px solid #0056b3; /* Add a bottom border for separation */
    }

.table {
    position: relative;
}
    
.table tbody tr:nth-child(even) {
        background-color: #f8f9fa; /* Light gray background for even rows */
}

.table tbody tr:hover {
    background-color: #e9ecef; /* Slightly darker background on hover */
}
.table td {
    padding: 10px; /* Consistent padding for table cells */
    vertical-align: middle; /* Vertically center the content in cells */
}
.card-body {
    word-wrap: break-word;
}
.container-custom {
    max-width: 90%; /* or any value like 80%, 1000px, etc. */
    margin: 0 auto; /* Center the container */
}
